body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 30px;
}

h1 {
    font-size: 38px;
    font-weight: 800;
}

h4 {
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
}

p {
    font-size: 20px;
}